@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body, #react-root {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}

body {
  background-color: whitesmoke;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  /* position: fixed; */
  /* -webkit-overflow-scrolling: touch; */
}

input {
    height: 100%;
    font-size: 1em;
    padding: 0;
    border: none;
    padding-left: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4) inset;
    background-color: whitesmoke;
}

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: dodgerblue;
    padding: 5px;
    color: #ece7e7;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: dodgerblue;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    text-decoration: underline;
    color: #eee;
} */
